<app-header></app-header>

<ion-content>
  
  <div class="sector_1">
    <div>
      <img class="logoMain" src="../../../assets/icon/homeicon.png" alt="">
      <ion-button class="btn-user">
        <ion-icon name="person"></ion-icon>
      </ion-button>
      <ion-button class="btn-bell">
        <img class="img100" src="../../../assets/icon/iconbell.png" alt="">
      </ion-button>
    </div>
    <ion-row>
      <ion-col size="8">
        <h3 class="titleName">เริ่มต้นใช้งาน Finn4U</h3>
        <h5 class="titleName2">คุณสามารถขายฝากและลงทุนได้ง่าย เพียงไม่กี่ขั้นตอน</h5>
        <button class="btnregis">สมัคร Finn4U</button>
      </ion-col>
      <ion-col size="4">
        <img class="imgphone" src="../../../assets/icon/phonefin.png" alt="">
      </ion-col>
    </ion-row>
    <div class="box-menu">
      <ion-row>
        <ion-col size="4">
          <img src="../../../assets/icon/office.png" alt="">
          <div>ขายฝาก</div>
        </ion-col>
        <ion-col size="4">
          <img src="../../../assets/icon/shirt.png" alt="">
          <div>ลงทุน</div>
        </ion-col>
        <ion-col size="4">
          <img src="../../../assets/icon/accounting.png" alt="">
          <div>คำนวณการลงทุน</div>
        </ion-col>
      </ion-row>
    </div>

  </div>

  <div class="sector_2"> 

    <ion-row class="main-box">
      <ion-col size="6">
        <div class="box-col-6">
          <div>
            <ion-label class="labelStart">เริ่มต้นใช้งาน</ion-label>
            <img class="imgStart" src="../../../assets/icon/deal.png" alt="">
            <ion-label class="desStart">สมัครใช้บริการ Finn4U เป็นตัวช่วยในการลงทุน อัตราผลตอบแทน 9-12%/ปี</ion-label>
            
          </div>         
          <button class="btnregis">สมัคร Finn4U</button> 
        </div>
      </ion-col>
      <ion-col size="6">
        <div class="box-col-6 divBggreen">
          <div class="textRecom">
            <ion-label >พื้นที่ขายฝากแนะนำ</ion-label>
          </div>  
          <button class="btnrecom">ดูที่นี่เลย</button>       
        </div>
      </ion-col>
    </ion-row>

    <ion-row class="main-box">
      <ion-col size="12" >
        <div class="box-status">
          <ion-row class="innerBox">
            <ion-col size="9" class="flex-style">
              <ion-label>สถานะการสมัคร</ion-label>
              <div><ion-label class="green">ตรวจสอบสถานะ </ion-label> <ion-icon class="green" style="font-size: 19px;" name="chevron-forward-outline"></ion-icon></div>  
            </ion-col>
            <ion-col size="3">
              <img class="statusImg" src="../../../assets/icon/employee 1.png" alt="">
            </ion-col>
          </ion-row>
        </div>
      </ion-col>
    </ion-row>

    <ion-row class="main-box">
      <ion-col size="12" >
        <div class="box-status">
          <ion-row class="innerBox">
            <ion-col size="9" class="flex-style">
              <div>
                <ion-label>Finn4U</ion-label><br>
                <div class="desStart">ลดภาระดอกเบี้ยขายฝาก 0.75% ต่อเดือน</div>
                <div class="desStart">ราคารับขายฝากสูงสุดถึง 70%</div>
              </div>
              <div><ion-label class="green">เพิ่มเติม </ion-label> <ion-icon class="green" style="font-size: 19px;" name="chevron-forward-outline"></ion-icon></div>  
            </ion-col>
            <ion-col size="3">
              <img class="statusImg" src="../../../assets/icon/tax 1.png" alt="">
            </ion-col>
          </ion-row>
        </div>
      </ion-col>
    </ion-row>

  </div>
    

  
</ion-content>
