<ion-tabs class="tabCustoms">

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <img src="../../assets/icon/tabicon1.png" alt="">
      <ion-label>หน้าหลัก</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2">
      <img src="../../assets/icon/tabicon2.png" alt="">
      <ion-label>บัญชีทรัพย์สิน</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3">
      <img src="../../assets/icon/tabicon3.png" alt="">
      <ion-label>บริการ</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab4">
      <img src="../../assets/icon/tabicon4.png" alt="">
      <ion-label>อื่นๆ</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
